.item-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.finished .label {
    opacity: .4;
    text-decoration: line-through;
}
span p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 156, 250);

}

